.bannerCon {
    background-color: antiquewhite;
    padding: 3% 3% 3% 3%;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    margin: auto;

}

